<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <h3>Brands</h3>
      <app-brand></app-brand>
      <br>
      <h3>Colors</h3>
      <app-color></app-color>
      <br>
      <h3>Customers</h3>
      <app-customer></app-customer>
      <br>
    </div>
    <div class="col-md-9">
      <h3>Cars</h3>
      <app-car-detail></app-car-detail>
      <br>
      <h3>Rentals</h3>
      <app-rental-detail></app-rental-detail>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
